/* General Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Stack header, main, and footer vertically */
  min-height: 100vh;
}

header {
  background-color: #1b1d1f;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 15px; /* Adds horizontal space between menu items */
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px; /* Adds padding to increase the clickable area */
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #ddd;
  color: black;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stack menu items vertically on smaller screens */
  }

  nav ul li {
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  background-color: #f4f4f4;
  flex: 1;
}

main section {
  width: calc(33% - 40px); /* Adjust width as desired, accounting for margin */
  margin: 20px; /* Spacing between sections */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

.quiz-container {
  width: 80%; /* Adjust width as necessary */
  max-width: 500px; /* Or any max-width you prefer */
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  background-image: url("/img/stadium.png");
  background-size: cover;
  background-position: center;
}

.quiz-container * {
  position: relative;
  z-index: 2;
}

/* Adjust button styles if needed */
button {
  padding: 10px 15px;
  margin-top: 15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  main {
    flex: 1; /* Expand main to fill available space, pushing the footer down */
    display: flex; /* Enable Flexbox for main */
    flex-wrap: wrap; /* Allow items to wrap as needed */
    justify-content: space-around; /* Space out sections evenly */
    padding: 20px;
  }

  main section {
    width: calc(
      33% - 40px
    ); /* Adjust width as desired, accounting for margin */
    margin: 20px; /* Spacing between sections */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
  }

  main section h2 {
    color: #004d99;
    margin-bottom: 15px;
  }

  main section p {
    line-height: 1.6;
  }
}

/* Style for the Start Quiz button */
#startQuiz {
  font-size: 18px; /* Larger font size */
  padding: 15px 30px; /* Larger button padding */
  background-color: #8fad90; /* Background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  margin-top: 30px; /* More space above the button */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

#startQuiz:hover {
  background-color: #839e85; /* Slightly darker shade on hover */
  transform: scale(1.05); /* Slightly larger scale on hover */
}

#startQuiz:focus {
  outline: none; /* Remove outline to keep the design clean */
}

.scoreboard-container {
  max-width: 1000px; /* Increase the width */
  margin: 20px auto; /* Centering the container */
  padding: 20px;
  background: url("path/to/your/texture.png"); /* Path to your texture image */
  background-size: cover; /* Ensure the texture covers the entire container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly transparent white background */
}

th,
td {
  padding: 15px; /* Increase padding for a more spacious look */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #004d99;
  color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .scoreboard-container {
    width: 95%; /* Adjust width for smaller screens */
  }

  table {
    display: block;
    overflow-x: auto;
  }
}

/* Login Form Styles */
.login-container {
  max-width: 400px; /* Set a max-width for the login container */
  margin: 30px auto; /* Center it on the page with some margin */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #004d99;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #369456;
}

.signup-link {
  margin-top: 15px;
  font-size: 0.9em;
}

.signup-link a {
  color: #004d99;
  text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .login-container {
    width: 95%;
    margin-top: 15px;
  }
}

/* Registration Form Styles */
.registration-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.registration-form h2 {
  margin-bottom: 20px;
  color: #004d99;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #369456;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9em;
}

.login-link a {
  color: #004d99;
  text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .registration-container {
    width: 95%;
    margin-top: 15px;
  }
}

.carousel {
  position: relative;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: auto;
  overflow: hidden; /* Ensures anything outside the container isn't shown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  border-radius: 8px; /* Optional: rounds the corners */
}

#dynamicContent {
  text-align: center;
  padding: 20px;
}

#dynamicContent button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#dynamicContent button:hover {
  background-color: #369456;
}

.carousel-image {
  width: 100%; /* Ensures all images take up the same width */
  max-height: 350px; /* Adjust the max-height as needed */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
  display: none; /* Hide all images initially */
}

/* Show the first image in the carousel by default */
.carousel-image:first-child {
  display: block;
}

.carousel button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel button:first-child {
  left: 10px;
}

.carousel button:last-child {
  right: 10px;
}

#moreInfo {
  margin-top: 15px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s, height 0.5s, margin-top 0.5s;
  /* Additional styling as needed */
}
